<%- include('../partials/header') %>

<h2>Flight List</h2>
<div class="table">
  <table class="tb">
    <thead>
      <tr>
        <th class="title">Airline</th>
        <th class="title">Airport</th>
        <th class="title">Flight No</th>
        <th class="title">Departs</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(f => { %>
      <tr>
        <td class="airline"><%= f.airline %></td>
        <td class="airport"><%= f.airport %></td>
        <td class="flightNo"><%= f.flightNo %></td>
        <td class="departs"><%= f.departs%></td>
        <td>
          <a href="/flights/<%= f._id %>"><div class="button">Details</div></a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <%- include('../partials/footer') %>
</div>
